#hello {
	color: red;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6v5i6q');
    src:  url('../fonts/icomoon.eot?6v5i6q#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6v5i6q') format('truetype'),
    url('../fonts/icomoon.woff?6v5i6q') format('woff'),
    url('../fonts/icomoon.svg?6v5i6q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="custom-icon-"],
[class*=" custom-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-icon-signature:before {
    content: "\e900";
}

#filestable .action [class^="custom-icon-"],
#filestable .action [class*=" custom-icon-"],
.rightClickMenu [class^="custom-icon-"],
.rightClickMenu [class*=" custom-icon-"] {
    font-size: 20px;
    padding: 12px;
    color: black;
}